$background-color-01: #bd746b;;
$background-color-02: #ffffff;;

body {
  margin: 0;
  background-color:$background-color-01; 
  font-family: Cormorant, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2 {
  font-family: Cormorant, serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-size: 2em;
}

#name {
  font-size: 0.85em;
  letter-spacing: 0.7em;
  font-family: Cormorant, sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  h1 {
    line-height: 40px;
    text-align: center;
    margin:0;
    padding: 10px 0 20px;
    color: black;
  }
  a:hover, a:visited, a:link, a:active {
      text-decoration: none;
  }
  margin-bottom: -20px;
}

#page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
}

#content {
  margin: 40px auto;
  font-size: .95em;
  line-height: 1.2em;
}

nav {
  display: flex;
  min-height: 200px; /* Safari Fix... */
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  #logo {
    width: 200px;
  }
  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    a {
      flex: auto;
      margin: 5px 25px;
      padding: 2px;
      text-decoration: none;
      color: black;
      letter-spacing: 0.1em;
      font-size: 0.9em;
    }
  }
}

p {
  padding: 35px 100px;
}

header, nav {
  width: 100%;
  background: $background-color-02;
}

nav {
  border-bottom: 2px solid #000;
}

button, input {
  display: inline-block;
  height: 40px;
  width: 100%;
  font-size: 15px;
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}
input {
  width: 99.6%;
  text-indent: 14px;
  &::placeholder {
    color: #848484;
  }
}
button {
  margin: 5px 0;
  background: #74503b;
  color: #fff;
  &:hover, &:focus {
    cursor: pointer;
  } 
  &:disabled {
    opacity: .8;
    cursor: not-allowed;
  }
}

footer {
  margin-top:auto;
  min-height: 20px;
  background: $background-color-02;
  padding: 15px;
  border-top: 2px solid #000;
  font-size: 0.9em;
  letter-spacing: .2em;
  display: flex;
  justify-content: space-between;
}

#infos-perso, #activities, #infos-home, {
  $gap: 15px;
  display: flex;
  margin: 15px 0-$gap;
  > div {
    flex: 1;
    margin: 0 $gap; 
  }
}

.infobox {
  h2 {
    text-align: center;
    margin-top: 20px;
  }
  background: $background-color-02;
  padding: 0 20px;
  margin: 15px 0;
  border: 2px solid #000;
}

#book {
  $gap: 15px;
  display: flex;
  margin: 30px 0-$gap;
  > * {
    background: $background-color-02;
    margin: 0 $gap; 
    border: 2px solid #000;
    padding: 40px;
  }
  > div {
    flex: 70 70 0;
    p {
      padding: 0px;
      margin: -17px 0px 8px;
      font-style: italic;
    }
  }
  > p {
    flex: 30 30 0;
  }
  #calendar {
    h2 {
      font-family: Cormorant, sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 1.4em;
    }
    .fc-button {
      width: unset;
      background-color: var(--fc-button-bg-color,#000);
      border: 0px;
      &.fc-today-button {
        &:disabled {
          opacity: 1;
        }
        color: #000;
        background-color: #b76a3d59;
        box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
      }
      &.fc-prev-button, &.fc-next-button  {
        background-color: #74503b;
        box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
      }
    }
    .fc-col-header-cell-cushion {
      padding: 6px 10px;
    }
    .fc-col-header-cell-cushion {
      font-weight: normal;
    }
    .fc-button:focus, .fc-button-primary:focus {
      box-shadow: unset;
    }
    .fc-scrollgrid-section-sticky > * {
      background-color: #b76a3d59;
      z-index: unset;
    }
    .fc-daygrid-day.fc-day-today {
      background-color: #ececec;
    }
    .fc-event-main-frame {
      flex-direction: column;
      &:hover {
        cursor: pointer;
      }
    }
    tbody tr {
      height: 60px;
    }
  }
}

@media screen and (max-width: 1280px) {
  #content {
    width: 100%;
  }
  p {
    padding: 35px;
  }
}

@media screen and (max-width: 1023px) {
  header h1 {
    padding: 20px 0;
  }
  #content {
    width: 100%;
    margin: 50px auto;
  }
  footer {
    font-size: .5em;
  }
  p {
    padding: 10px;
  }
  #book > *, #activities, #infos-perso, #infos-home > div, .infobox {
    border-left: unset;
    border-right: unset;
    margin: 0px;
    padding: 30px;
  }
  #activities, #infos-perso, #infos-home {
    margin: unset;
  }
  #activities, #infos-perso, #infos-home > p {
    padding: 0;
  }
  #book, #activities, #infos-perso, #infos-home {
    flex-direction:column;
  }
  
  #book > div {
    padding: 5px;
    & > h2 {
      text-align: center;
    }
    p {
      margin: -12px 0px 15px;
      text-align: center;
    }
  }

  #book #calendar .fc-col-header-cell-cushion {
    padding: 6px 4px;
  }
  #modal > div {
    padding: 15px;
  }
}

